:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #7464a1;
	--bs-pink: #d63384;
	--bs-red: #a16468;
	--bs-orange: #fd7e14;
	--bs-yellow: #e4c662;
	--bs-green: #67c29c;
	--bs-teal: #64a19d;
	--bs-cyan: #1cabc4;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: #64a19d;
	--bs-secondary: #7464a1;
	--bs-success: #67c29c;
	--bs-info: #1cabc4;
	--bs-warning: #e4c662;
	--bs-danger: #a16468;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-primary-rgb: 100, 161, 157;
	--bs-secondary-rgb: 116, 100, 161;
	--bs-success-rgb: 103, 194, 156;
	--bs-info-rgb: 28, 171, 196;
	--bs-warning-rgb: 228, 198, 98;
	--bs-danger-rgb: 161, 100, 104;
	--bs-light-rgb: 248, 249, 250;
	--bs-dark-rgb: 33, 37, 41;
	--bs-black-rgb: 0, 0, 0;
	--bs-white-rgb: 255, 255, 255;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-body-color-rgb: 33, 37, 41;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #212529;
	--bs-body-bg: #fff;}

:root {
scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
	margin: 0;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.image-top{
    width: 100%;
	max-width: none;
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%); 
    z-index: -10;
}
.img-top {
    overflow: hidden;
	padding-bottom: 55%;
	@media (min-width: 700px)
		padding-bottom: 45%;
}
.img--top{
	margin: 0 auto;
	width: 90%;
	@media (min-width: 500px){
		width: 80%;
	}
@media (min-width: 600px){
width: 60%;
}
}
main{
padding: 1em 0;
position: relative;
background:blanchedalmond;
box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
}
#mainNav {
min-height: 3.5rem;
background-color: #fff;
}
#mainNav .navbar-toggler {
font-size: 80%;
padding: 0.75rem;
color: #64a19d;
border: 1px solid #64a19d;
}
#mainNav .navbar-toggler:focus {
outline: none;
}
#mainNav .navbar-brand {
color: #000;
font-weight: 700;
padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
color: fade(#fff, 80%);
outline: none;
background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
outline: none;
background-color: transparent;
}
@media (min-width: 992px) {
	#mainNav {
	  padding-top: 0;
	  padding-bottom: 0;
	  border-bottom: none;
	  background-color: transparent;
	  transition: background-color 0.3s ease-in-out;
	}
	#mainNav .navbar-brand {
	  padding: 0.5rem 0;
	  color: rgba(255, 255, 255, 0.5);
	}
	#mainNav .nav-link {
	  transition: none;
	  padding: 2rem 1.5rem;
	  color: rgba(255, 255, 255, 0.5);
	}
	#mainNav .nav-link:hover {
	  color: rgba(255, 255, 255, 0.75);
	}
	#mainNav .nav-link:active {
	  color: rgba(255, 255, 255, 0);
	}
	#mainNav.navbar-shrink {
	  background-color: rgba(255, 255, 255, 0);
	}
	#mainNav.navbar-shrink .navbar-brand {
	  color: rgba(255, 255, 255, 0.5);
	}
	#mainNav.navbar-shrink .nav-link {
	  color: rgba(255, 255, 255, 0.5);
	  padding: 1.5rem 1.5rem 1.25rem;
	  border-bottom: 0.25rem solid transparent;
	}
	#mainNav.navbar-shrink .nav-link:hover {
	  color: #64a19d;
	}
	#mainNav.navbar-shrink .nav-link:active {
	  color: #467370;
	}
	#mainNav.navbar-shrink .nav-link.active {
	  color: #64a19d;
	  outline: none;
	  border-bottom: 0.25rem solid #64a19d;
	}
}
.masthead {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 35rem;
	padding: 15rem 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/bg-masthead.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
  }
  .masthead h1, .masthead .h1 {
	font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 2.5rem;
	line-height: 2.5rem;
	letter-spacing: 0.8rem;
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
			background-clip: text;
  }
  .masthead h2, .masthead .h2 {
	max-width: 20rem;
	font-size: 1rem;
  }
  @media (min-width: 768px) {
	.masthead h1, .masthead .h1 {
	  font-size: 4rem;
	  line-height: 4rem;
	}
  }
  @media (min-width: 992px) {
	.masthead {
	  height: 100vh;
	  padding: 0;
	}
	.masthead h1, .masthead .h1 {
	  font-size: 6.5rem;
	  line-height: 6.5rem;
	  letter-spacing: 0.8rem;
	}
	.masthead h2, .masthead .h2 {
	  max-width: 30rem;
	  font-size: 1.25rem;
	}
  }